<!DOCTYPE html>
<html lang="zxx">

<head>
    <%-include('../common/css.ejs')%>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body class="js">
    <!-- Header -->
    <%-include('../common/header.ejs')%>
        <!--/ End Header -->

        <!-- Start Contact -->
        <section class="shop single section">
            <div class="">
                <div class="row m-3">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-lg-7 col-7 border border-right-dark">
                                <div class="row p-3  ">
                                      <div class="col-lg-3">
                                        <img class="default-img" src="https://via.placeholder.com/550x750">
                                      </div>
                                      <div class="col-lg-9">
                                        <canvas id="myChart" width="20px" height="10px"></canvas>
                                    </div>
                                </div>
                                <div class="row p-3">
                                    <p>Nhịp Tim Trung Bình:  <span> 150mp </span></p>
                                    <p class="ml-4">Nồng độ oxi trong máu:  <span> 150mp </span></p>
                                    <p class="ml-4">Huyết áp trung bình:  <span> 150mp </span></p>
                                </div>
                            </div>
                            <div class="col-lg-5 col-5  border border-right-dark">
                                <div class="row mt-4 justify-content-center">
                                        <h5>Tên Bệnh Nhân</h5>
                                </div>
                                <div class="total-amount">
                                <div class="row p-3">
                                    <h6 class="col-5 p-2">Họ tên:</h6><p class="col-7 p-2">Nguyen Van A</p>
                                    <h6 class="col-5 p-2">Địa chỉ:</h6><p class="col-7 p-2">Nguyen Van A</p>
                                    <h6 class="col-5 p-2">Số điện thoại:</h6><p class="col-7 p-2">Nguyen Van A</p>
                                    <h6 class="col-5 p-2">Người Phụ Trách:</h6><p class="col-7 p-2">Nguyen Van A</p>
                                    <h6 class="col-5 p-2">Tình Trạng Bệnh</h6><p class="col-7 p-2">Nguyen Van A</p>
                                    <h6 class="col-5 p-2">Phòng Bệnh:</h6><p class="col-7 p-2">Nguyen Van A</p>
                                    <h6 class="col-5 p-2">Ngày Nhập Viện:</h6><p class="col-7 p-2">Nguyen Van A</p>
                                    <h6 class="col-5 p-2">Thông Tin người nhà:</h6><p class="col-7 p-2">Nguyen Van A</p>
                                </div>
                                </div>
                            </div>
                            

                        </div>
                    </div>
                </div>
        </section> <!--/ End Contact -->

        <%-include('../common/js.ejs')%>
            <!-- Jquery -->
</body>

</html>