<!DOCTYPE html>
<html lang="zxx">
<head>
	<%-include('../common/css.ejs')%>
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body class="js">
	<!-- Header -->
	<%-include('../common/header.ejs')%>
	<!--/ End Header -->
	
	<!-- Start Product Area -->
    <div class="product-area section">
            <div class="container">
				<div class="row">
					<div class="col-12">
						<div class="section-title">
							<h2>PHÒNG BỆNH NHÂN</h2>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<div class="product-info">
							<div class="nav-main">
								<!-- Tab Nav -->
								<ul class="nav nav-tabs" id="myTab" role="tablist">
									<li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#rom1" role="tab">PHÒNG 1</a></li>
									<li class="nav-item"><a class="nav-link" data-toggle="tab" href="#rom2" role="tab">PHÒNG 2</a></li>
									<li class="nav-item"><a class="nav-link" data-toggle="tab" href="#rom3" role="tab">PHÒNG 3</a></li>
									<li class="nav-item"><a class="nav-link" data-toggle="tab" href="#rom4" role="tab">PHÒNG 4</a></li>
									<li class="nav-item"><a class="nav-link" data-toggle="tab" href="#rom5" role="tab">PHÒNG 5</a></li>
									<li class="nav-item"><a class="nav-link" data-toggle="tab" href="#rom6" role="tab">PHÒNG 6</a></li>
								</ul>
								<!--/ End Tab Nav -->
							</div>
							<div class="tab-content" id="myTabContent">
								<!-- Start Single Tab -->
								<div class="tab-pane fade show active" id="rom1" role="tabpanel">
									<div class="tab-single">
										<div class="row">
											<div class="col-xl-3 col-lg-4 col-md-4 col-12">
												<div class="single-product">
													<div class="product-img">
														<a href="/benhnhan">
															<img class="default-img" src="https://via.placeholder.com/550x750" alt="#">
															<img class="hover-img" src="https://via.placeholder.com/550x750" alt="#">
														</a>
														<div class="button-head">
															<div class="product-action">
																<a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Thông tin bệnh nhân</span></a>
																<a title="Wishlist" href="#"><i class=" ti-heart "></i><span></span></a>
															</div>
															<div class="product-action-2">
																<a title="Add to cart" href="#">Xuất Viện</a>
															</div>	
														</div>
													</div>
													<div class="product-content">
														<h3><a href="">BỆNH NHÂN GIƯỜNG SỐ</a></h3>
														<div class="product-price">
														  <span>31 TUỔI</span>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!--/ End Single Tab -->
								<!-- Start Single Tab -->
								<div class="tab-pane fade show " id="rom2" role="tabpanel">
									<div class="tab-single">
										<div class="row">
											<div class="col-xl-3 col-lg-4 col-md-4 col-12">
												<div class="single-product">
													<div class="product-img">
														<a href="/benhnhan">
															<img class="default-img" src="https://via.placeholder.com/550x750" alt="#">
															<img class="hover-img" src="https://via.placeholder.com/550x750" alt="#">
															<span class="out-of-stock">Đau dạ dày</span>
														</a>
														<div class="button-head">
															<div class="product-action">
																<a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Thông tin bệnh nhân</span></a>
																<a title="Wishlist" href="#"><i class=" ti-heart "></i><span></span></a>
															</div>
															<div class="product-action-2">
																<a title="Add to cart" href="#">Xuất Viện</a>
															</div>	
														</div>
													</div>
													<div class="product-content">
														<h3><a href="">BỆNH NHÂN GIƯỜNG SỐ</a></h3>
														<div class="product-price">
														  <span>32 TUỔI</span>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!--/ End Single Tab -->
								<!-- Start Single Tab -->
								<div class="tab-pane fade show " id="rom3" role="tabpanel">
									<div class="tab-single">
										<div class="row">
											<div class="col-xl-3 col-lg-4 col-md-4 col-12">
												<div class="single-product">
													<div class="product-img">
														<a href="/benhnhan">
															<img class="default-img" src="https://via.placeholder.com/550x750" alt="#">
															<img class="hover-img" src="https://via.placeholder.com/550x750" alt="#">
															<span class="out-of-stock">Ruột thừa</span>
														</a>
														<div class="button-head">
															<div class="product-action">
																<a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Thông tin bệnh nhân</span></a>
																<a title="Wishlist" href="#"><i class=" ti-heart "></i><span></span></a>
															</div>
															<div class="product-action-2">
																<a title="Add to cart" href="#">Xuất Viện</a>
															</div>	
														</div>
													</div>
													<div class="product-content">
														<h3><a href="">BỆNH NHÂN GIƯỜNG SỐ</a></h3>
														<div class="product-price">
														  <span>33 TUỔI</span>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!--/ End Single Tab -->
								<!-- Start Single Tab -->
								<div class="tab-pane fade show " id="rom4" role="tabpanel">
									<div class="tab-single">
										<div class="row">
											<div class="col-xl-3 col-lg-4 col-md-4 col-12">
												<div class="single-product">
													<div class="product-img">
														<a href="/benhnhan">
															<img class="default-img" src="https://via.placeholder.com/550x750" alt="#">
															<img class="hover-img" src="https://via.placeholder.com/550x750" alt="#">
														</a>
														<div class="button-head">
															<div class="product-action">
																<a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Thông tin bệnh nhân</span></a>
																<a title="Wishlist" href="#"><i class=" ti-heart "></i><span></span></a>
															</div>
															<div class="product-action-2">
																<a title="Add to cart" href="#">Xuất Viện</a>
															</div>	
														</div>
													</div>
													<div class="product-content">
														<h3><a href="">BỆNH NHÂN GIƯỜNG SỐ</a></h3>
														<div class="product-price">
														  <span>34 TUỔI</span>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!--/ End Single Tab -->
								<!-- Start Single Tab -->
								<div class="tab-pane fade show " id="rom5" role="tabpanel">
									<div class="tab-single">
										<div class="row">
											<div class="col-xl-3 col-lg-4 col-md-4 col-12">
												<div class="single-product">
													<div class="product-img">
														<a href="/benhnhan">
															<img class="default-img" src="https://via.placeholder.com/550x750" alt="#">
															<img class="hover-img" src="https://via.placeholder.com/550x750" alt="#">
														</a>
														<div class="button-head">
															<div class="product-action">
																<a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Thông tin bệnh nhân</span></a>
																<a title="Wishlist" href="#"><i class=" ti-heart "></i><span></span></a>
															</div>
															<div class="product-action-2">
																<a title="Add to cart" href="#">Xuất Viện</a>
															</div>	
														</div>
													</div>
													<div class="product-content">
														<h3><a href="">BỆNH NHÂN GIƯỜNG SỐ</a></h3>
														<div class="product-price">
														  <span>35 TUỔI</span>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!--/ End Single Tab -->
								<!-- Start Single Tab -->
								<div class="tab-pane fade show " id="rom6" role="tabpanel">
									<div class="tab-single">
										<div class="row">
											<div class="col-xl-3 col-lg-4 col-md-4 col-12">
												<div class="single-product">
													<div class="product-img">
														<a href="/benhnhan">
															<img class="default-img" src="https://via.placeholder.com/550x750" alt="#">
															<img class="hover-img" src="https://via.placeholder.com/550x750" alt="#">
														</a>
														<div class="button-head">
															<div class="product-action">
																<a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Thông tin bệnh nhân</span></a>
																<a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Thay đổi sức khỏe</span></a>
															</div>
															<div class="product-action-2">
																<a title="Add to cart" href="#">Xuất Viện</a>
															</div>	
														</div>
													</div>
													<div class="product-content">
														<h3><a href="">BỆNH NHÂN GIƯỜNG SỐ</a></h3>
														<div class="product-price">
														  <span>36 TUỔI</span>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!--/ End Single Tab -->
							</div>
						</div>
					</div>
				</div>
            </div>
    </div>
	<!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="ti-close" aria-hidden="true"></span></button>
                    </div>
                    <div class="modal-body">
                        <div class="row no-gutters">
							<div class="col-lg-6 offset-lg-3 col-12">
								<h4 style="margin-top:100px;font-size:14px; font-weight:500; color:#F7941D; display:block; margin-bottom:5px;">Eshop Free Lite</h4>
								<h3 style="font-size:30px;color:#333;">Currently You are using free lite Version of Eshop.<h3>
								<p style="display:block; margin-top:20px; color:#888; font-size:14px; font-weight:400;">Please, purchase full version of the template to get all pages, features and commercial license</p>
								<div class="button" style="margin-top:30px;">
									<a href="https://wpthemesgrid.com/downloads/eshop-ecommerce-html5-template/" target="_blank" class="btn" style="color:#fff;">Buy Now!</a>
								</div>
							</div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <!-- Modal end -->
	
	<%-include('../common/js.ejs')%>
	<!-- Jquery -->
    
</body>
</html>